.Rproj.user
.Rhistory
.RData
.Ruserdata
private_notes.md

code/amp_incidence_rates_wk104_tau_neut_cmprsk_2cat.R

data/*
!data/.gitkeep

output/*
!output/figures/
!output/tables/
output/figures/*
!output/figures/.gitkeep
output/tables/*
!output/tables/.gitkeep

**/.DS_Store
/*.R
/*.csv
/*.txt